= form_for @checkout do |f|
  -if @checkout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@checkout.errors.count, "error")} prohibited this checkout from being saved:"
      %ul
        - @checkout.errors.full_messages.each do |msg|
          %li= msg
  %p= "TODO add form with pricing rules here"
  -#- for pricing_rule in @pricing_rules do
  -#  .field
  -#    = "#{pricing_rule.discount_type} #{pricing_rule.product.name} #{pricing_rule.bulk_price} #{pricing_rule.bulk_threshold}"
  -#    = f.label "pricing_rule", pricing_rule.discount_type
  -#    = f.check_box "pricing_rule"
  .actions
    = f.submit 'Save'
