%h1= "Checkout ID #{@checkout.id}"
%h2 Applied pricing rules
%ul{:id => "pricing_rules"}
  - if @checkout.pricing_rules.length > 0
    - for pricing_rule in @checkout.pricing_rules do
      %li= pricing_rule.description.html_safe
  -else
    %li None
%h2 Transactions
%ul{:id => "transactions"}
  - if @checkout.transactions.length > 0
    - for transaction in @checkout.transactions do
      %li= "#{transaction.no_of_items} #{transaction.product.name}"
  -else
  %li None