%p#notice= notice

= render "receipt_content"

%h2= link_to 'Total', total_checkout_path(@checkout)

%h1 Available Products

%table
  %tr
    %th Product Code
    %th Name
    %th Price
    %th
  - for product in @products do
    = render "add_item_form", :product => product


%p= link_to 'Index', checkouts_path

